h1{ font-family: 'Georgia', Times, "Times New Roman", serif;
color: white;
font-size: 20px;
padding-left: 60px;
padding-top: 40px;
float: left;
vertical-align: middle;
}

div.name{ width: 250px;
	height: 100%;
	background-color: #4aaaa5;
	vertical-align: middle;
	text-align: center;
	float: left;
}

a:link, a:visited { 
	color: (internal value);
	text-decoration: none;
	cursor: auto;
}

a:link:active, a:visited:active { 
	color: (internal value);
}

section.top {
	background: white;
	height: 100px;
}

div.links { text-align: right;
	vertical-align: middle; 
	margin-top: 40px;
	margin-right: 70px;
	float: right;
}

body{ clear: both;
	font-family: 'Aria', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	background-color: #D8D7D6;
	margin: auto;
	overflow: auto;
}

div.topstuff {	width: 960px;
	height: 100%;
	margin: auto;
}

div.stuff { margin: auto;
	width: 960px;
	padding-top: 20px;
}


h2 {font-family: 'Georgia', Times, Times New Roman, serif;
color: teal;
font-size: 20px;
text-align: left;
padding-bottom: 20px;

}

div.content { background-color: #ebebeb;
	height: 320px;
	width: 600px;
	padding-top: 30px;
	border: 1px solid gray;
	float: left;
}

div.info {padding: 10px;

}

hr { border-top: 1px solid #8c8b8b;

}

aside { background-color: #ebebeb;
	height: 150px;
	width: 220px;
	padding-top: 30px;
	text-align: top;
	text-align: center;
	margin-left: 40px;
	border: 1px solid gray;
	float: left;

}

footer{ clear:both;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 75px;
	font-size: 12px;
	color: white;
	text-align: center;
	line-height: 55px;
	background-color: #666666;
	overflow:auto; 
	border-top: thick solid #4aaaa5;
}

@media screen and (max-width: 980px) {
	body {width: 980px;
	}
	div.content { width: 400px;
		height: 450px;
		margin-left: 200px;
		background-color: white;
	}
	aside { background-color: white;
	}
	div.name { margin-left: 200px;
	}
}	

@media screen and (max-width: 768px) {
	html { width: 768px; 
	}
	body {
		width: 758px;
	}
	div.content { width: 725px;
		height: 350px;
		background-color: white;
		margin-left: 10px;
	}
	aside { width: 725px;
		margin-left: 10px;
		margin-top: 25px;
		height: 95px;
	}
	div.links { margin-right: 250px;
	}
	div.name {margin-left: 0px;
	}
}	

@media screen and (max-width: 640px) {
	div.content { width: 605px;
		height: 350px;
		background-color: white;
		margin-left: 10px;
	}
	aside { width: 605px;
		margin-left: 10px;
		margin-top: 25px;
		height: 95px;
	}
	div.links { clear: both;
		background-color: white;
		overflow: auto;
		width: 740px;
		margin-top: 0px;
		margin-bottom: 20px;
			}
	div.name {
		width: 645px;
	}
	h1 { margin-left: 200px; 
	}
	a { 
		margin-left: 350px;}

	


	